.azure-resources-viewer {
    max-width: 500px;
    margin-left: 10px;
    
    .text-before-select-box {
        font-size: 13px;
        font-family: "Segoe UI";
        font-weight: 400;
        margin-bottom: 2px;
    }
        
    .title {
        font-size: 18px;
        font-family: "Segoe UI";
        font-weight: 400;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    .description {
        font-family: "Segoe UI";
        font-size: 13px;
        margin-bottom: 15px;
    }

    .select-box {
        width: 90%;
        margin-bottom: 20px;
    }

    .submit-button {
        background-color: #3b3b3b; 
        color: white;

        :disabled {
            background-color: #3b3b3b; 
        }
    }
}