.title {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #888888;
}

.property-row {
    font-size: 13px;
    margin-bottom: 10px;

    .property-key {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.chart-container {
    justify-content: center;
    display: block;
}

.analysis-chart {
    margin-top: 10px;
    border-style: groove;
    width: 100%;
}

.analysis-additional-properties-section {
    margin-top: 20px;
}

.linear-progress-container {
    align-self: center;
}

.linear-progress {
    background: #2dbdbe !important;
}
