@import '../node_modules/react-md/src/scss/react-md';

$md-primary-color: #465C72;
$md-secondary-color: $md-pink-a-200;
$md-font-regular: 300;
$md-navigation-drawer-enforce-height: true;

@include react-md-everything;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// Remove the default a-href style
a {
  text-decoration: none;
  color: inherit;
}

// Making sure titles are less bold
h2, .md-subheading-2 {
  font-weight: $md-font-regular;
}

.md-dialog.md-transition-in {
    transform: translate3d(0px, 0px, 0px) scale(1);
}

/*===============*/
/* Shared Styles */
/*===============*/
.sub-menu-container {
  background: #262626;
  height: 40px;
  margin-top: -40px;

  .sub-menu-item {
    margin-right: 6px;
    margin-left: 6px;
    border: 1px solid rgba(243, 242, 242, 0.5);
    height: 80%;
    border-radius: 10px;
    font-weight: 300;
    font-size: 13px;
  }
}

.panel {
  background: #ECF0F1;
  height: 100%;
  padding-top: 40px;
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

    & > .no-insight-to-show {
      font-family: "Segoe UI";
      font-size: large;
      color: gray;
      margin-bottom: 200px;
      font-weight: 400;
    }

    & > .details-container {
      width: 100%;
      align-self: flex-start;
      font-family: "Segoe UI";
      font-weight: 400;
      margin-top: 17px;
      margin-left: 60px;

        .title {
          font-size: 25px;
          font-weight: 400;
        }
    }
}

/**
*/
.md-title--toolbar {
  .title-logo {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    
    img {
      max-height: 40px;
      max-width: 40px;
    }
  }
}

/*=============*/
/* Card Styles */
/*=============*/

.md-card {
  position: relative;

  .md-card-title:last-child {
    padding-bottom: 4px;
  }

  &.hide-borders {
    box-shadow: none; 
  }
}

.md-card-text:last-child {
  padding-bottom: 0px; 
}

.md-card-text {
  padding: 0px 0px 16px 10px;
}

.md-card-title {
  padding: 10px;
  padding-top: 10px;
  font-weight: $md-font-regular;

  &.md-card-title--primary {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.md-card-title--title {
  font-size: 12px;
}

.md-card .md-media {
  padding: 73px 0 0 0;
  margin-top: -73px;
  height: 100%;

  &.md-card-scorecard {
    padding: 0;
    margin-top: 0;

    .dash-value {
      margin-top: 8px;
      margin-right: 8px;
    }
    
    .dash-icon {
      margin-top: 5px;
    }
  }
}

.templates .md-card-title--title-block {
  width: 100%;
  overflow: hidden;
  font-weight: bold;
}

.templates h2.md-card-title--title,
.templates h3.md-card-title--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.templates > section > div.preview {
  opacity: 0.5;
  transition: opacity .5s ease-out;
}

div.templates:hover > section > div.preview {
  opacity: 1.0;
}

.md-card {
  .card-icon {
    cursor: default;
    position: relative;
    z-index: 10;
    float: right;
    padding: 2px 7px;
  }

  .card-settings {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .card-settings > span {
    float: left;
  }

  .card-settings-btn {
    color: lightgrey;
  }

  .card-settings-btn:hover {
    color: $md-primary-color;
  }
}

.react-draggable {
  border: 2px solid gray;

  .md-card {
    pointer-events: none;
    opacity: 0.4;
  }
}

.dash-error {
  color: $md-red-500;
}

.dash-success {
  color: $md-light-green-500;
}

/*=============*/
/* Navigation List Styles */
/*=============*/

.md-list.md-toolbar-relative {
  padding-top: 59px;
}

@media screen and (min-width: 768px) {
  .md-list-tile--mini.md-list-tile--mini {
    padding-left: 5px;
    padding-right: 26px;
  }

  // Responsible for the navigation drawer to be thiner
  .md-drawer--mini.md-drawer--mini {
    width: 40px;
  }

  .md-drawer-relative--mini.md-drawer-relative--mini {
    margin-left: 40px;
  }
}

/*=============*/
/* Recharts    */
/*=============*/

.recharts-legend-item .recharts-surface {
  bottom: auto;
  top: auto;
  left: auto;
  right: auto;
  height: auto;
  width: auto;
  position: static;
}

.recharts-legend-item-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  vertical-align: middle;
}

/*================*/
/* Minimal Design */
/*================*/

.md-card {
  .md-text--secondary {
    font-weight: 400;
  }

  .md-media {
    padding: 46px 0 0 0;
    margin-top: -46px;
  }

  .widgets {
    top: -5px;
  }
}

/*================*/
/* Select Fields Style    */
/*================*/

.md-icon-text {
  color: white;
  font-family: "Segoe UI";
}

.md-icon-text:first-child {
  padding-left: 8px;
}

.md-select-field--btn.md-select-field--btn {
  padding-left: 8px;
  padding-right: 0px;
  padding-bottom: 16px;
  padding-top: 3px;
}  

.md-list--menu-contained {
  width: auto; 
}

/*================*/
/* Styles         */
/*================*/

.fail {
  color: red !important;
}


