.signals-view-container {
    .page-title {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 30px;
        font-weight: 400;
    }

    .signals-presentation-and-filters {
        margin-left: 25px;
        margin-right: 100px;

        select {
            font-family: "Segoe UI";
            font-size: 12px;
        }
    }
}

.md-data-table--responsive {
    overflow-x: visible !important;
}